@model Shop.Models.Stock

@{
    ViewData["Title"] = "Delete";
}

<h2>Boorar</h2>

<h3>Esta seguro que desea eliminarlo?</h3>
<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producto.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
